@using System.Web.Mvc.Html
@model FortisDemo.Website.Areas.Markup.Models.NavigationRenderingModel

<div class="container">
    <div class="footer-nav">
        @Html.Partial("~/Areas/Markup/Views/Markup/Partials/Navigation.cshtml", Model)
    </div>
	<div class="bottom">
		<p>Implemented by <a href="https://www.linkedin.com/profile/view?id=AAMAAAxLwlQBcVpohTnaanOb0Gctl2RzQZwjHJo" target="_blank"> Vladimir Hil</a></p>
	</div>
	<div class="clearfix"> </div>
</div>