@model FortisDemo.Website.Areas.Markup.Models.HeaderRenderingModel
<div class="container">
    <div class="logo">
        <a href="/">
            @Model.SiteRoot.SiteLogo.Render()
        </a>
    </div>
    <div class="head-nav">
        <span class="menu"> </span>
        @Html.Partial("~/Areas/Markup/Views/Markup/Partials/Navigation.cshtml", Model)
    </div>
    <div class="clearfix"> </div>
    <!-- script-for-nav -->
    <script>
		$("span.menu").click(function() {
			$(".head-nav ul").slideToggle(300, function() {
				// Animation complete.
			});
		});
    </script>
    <!-- script-for-nav -->
</div>