@using Fortis.Model
@using FortisDemo.Model.Templates.UserDefined
@model IRenderingModel<IContentTitleItem, IContentTitleItem>

<div class="banner">
	<div class="container">
		<div class="main">
			<h2>@Model.RenderingItem.ContentTitle</h2>
		</div>
	</div>
</div>