<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<sites>
    <site name="website">
      <!--<patch:attribute name="enableItemLanguageFallback">true</patch:attribute>-->
      <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
    </site>
    <site name="shell">
      <!--<patch:attribute name="enableItemLanguageFallback">true</patch:attribute>-->
      <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
    </site>
	  <site patch:before="site[@name='website']" 
			name="demo" 
			hostName="fortis.demo"
			rootPath="/sitecore/content/sites/fortis-demo"
			language="en"
			startItem="/home"
			database="web"
			inherits="website" />
	</sites>
  </sitecore>
</configuration>



